<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <script src="js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <script rel="script" src="/static/js/bootstrap.bundle.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.php">留言板</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="LittleMary.php" tabindex="-1">
                        123
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        456
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="search.php">
                <label><input type="radio" value="subject" name="searchType" style='margin:5px' required>主題</label>
                <label><input type="radio" value="content" name="searchType" style='margin:5px' required>內容</label>
                <label><input type="radio" value="author" name="searchType" style='margin:5px' required>作者</label>
                <input style='margin:5px' class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search" name="keywords" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style='margin-right:5px'>搜尋</button>
            </form>
        </div>
    </nav>

    <h1>HI!</h1>
</body>

</html>